.CommandLine {
  font-family: Inconsolata, monospace;
  color: #777;
}

.CommandLine .prompt {
  padding-right: 5px;
}

.CommandLine .in {
  padding-left: 0px;
}

.CommandLine .in input {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}

.CommandLine .out {
  color: #999;
}
